.contact {
  padding: 0 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #342F56;
  display: flex;
  align-items: center;
  transition: .3s;
  color: #FFFFFF;
}
.contact:hover {
  background: #eeecff;
  color: black;
}

.contact a:hover {
  color: black;
}
.bannerHome{
  display: flex;
  height: 600px;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
}
.bannerHome img{
  width: 680px;
  height: 504px;
}
strong.PET {
  line-height: 7rem;
  font-size: 7rem;
}
.textHome {
  line-height: 5rem;
  align-items: flex-start;
  font-size: 4rem;
  margin: 2px;
}
.fixed {
  width: 100%;
  transition: ease-in-out .2s;
  position: fixed;
  background: #181433;
}

/*DROPDOWN*/
.justBars {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*MEDIA QUERIS*/
@media (max-width: 980px) {
  .header{
    overflow: hidden;
  }
  .bannerHome{
    height: 500px;
  }
  .bannerHome img{
    width: 530px;
    height: 392px;
  }
  .textHome {
    line-height: 2rem;
    align-items: flex-start;
    font-size: 2rem;
    margin: 2px;
  }
  .contact {
    justify-content: center;
  }
}

@media (max-width: 768.9px) {
  .header{
    overflow: hidden;
  }
  .contact {
    justify-content: center;
  }
  .bannerHome{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 600px;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
  }
  .bannerHome img{
    width: 530px;
    height: 392px;
  }
  .textHome {
    line-height: 2rem;
    align-items: flex-start;
    font-size: 2rem;
    margin: 2px;
  }
  li {
    margin: 0;
  }
  ul.navbar-nav li.nav-item {
    margin: 0;
  }
}